*{
  box-sizing: border-box;
}
body{
  font-family: inter, sans-serif;
  /* color: rgb(255, 255, 255); */
  /* background-color: #f9fafb ; */
  /* background-color: #202020; */
  /* color: #f1f5f9; */
  margin: 0;
  /* padding-top:60px; */
  height: fit-content;
}
body::-webkit-scrollbar {
  display: none;
}

.header{
  width: 100%;
  text-align: center;
  padding: .5em 0;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(252, 252, 252);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:99;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}
nav img{
  width: 40px;
  height: 40px;
}



.footer{
  width: 100%;
  background-color: #2e3138;
  bottom: 0;
  text-align: center;
  padding: 1px;
}
